/*##############################*/
/*KEY FRAMES*/
 /*KEY FRAMES*/
 @keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

    }

    /*SELECIONADOS PARA TER A ANIMAÇÃO*/
    section, header, footer, main {
  animation: aparecer 0.5s ease forwards;
}