
/*###########################*/
/*MEDIA QUERY*/
/*###########################*/
@media screen and (max-width: 768px){
    /*NAV UL */
    nav > ul {
        display: none;
    }


    /*MENU BURGUER*/
    #menu {
        font-size: 2rem;
        display: block;
    }

   /*###########################*/
   /*PARTE DO SOBRE NÓS*/
    .waves > img {
        height: 100%;
    }

    .sobre > h1,#servicos > h1,.container-depoimentos > h1 {
        font-size: 38px;
    }

    .container-geral {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .text {
        width: 100%;
    }

    .text > p{
        font-size: 20px;
    }

    #cont-right > img {
        display: none;
    }
    /*###########################*/
   /*PARTE DOS SERVIÇOS*/
    .armazem-cards {
        display: flex;
        flex-direction: column;
    }
    /*###########################*/
    /*PARTE DO DEPOIMENTOS*/
    .left > img {
       display: none;
    }

    .right > h2 {
        font-size: 30px;
    }
    

    .card-depoimento {
        width: auto;
    }   

    .card-depoimento > .estrela {
        margin-left: 20%;
        margin-bottom: 60px;
    }

}

/*###########################*/
/*ATÉ 992PX*/
@media screen and (min-width: 992px) {
    .armazem-cards {
        flex-wrap: wrap;
        gap: 150px;
    }

}

/*ATÉ 1200PX*/
@media screen and (min-width: 768px) and (max-width: 1200px){
    /*###########################*/
    /*PARTE DO DEPOIMENTOS*/
    .left > img {
       display: none;
    }

    .right > h2 {
        font-size: 30px;
    }
    

    .card-depoimento {
        width: auto;
    }   

    .card-depoimento > .estrela {
        margin-left: 10%;
    }
}



