
/*###########################*/
/*MEDIA QUERY*/
/*###########################*/
@media screen and (max-width: 992px){
    /*NAV UL */
    nav > ul {
        display: none;
    }


    /*MENU BURGUER*/
    #menu {
        font-size: 2rem;
        display: block;
    }

   /*###########################*/
   /*PARTE DO SOBRE NÓS*/
    .waves > img {
        height: 100%;
    }

    .sobre > h1,#servicos > h1,.container-depoimentos > h1 {
        font-size: 38px;
    }

    .container-geral {
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .text {
        width: 100%;
    }

    .text > p{
        font-size: 20px;
    }

    #cont-right > img {
        display: none;
    }
    /*###########################*/
   /*PARTE DO SOBRE NÓS*/
    


}