@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*ROOT COM CORES E FONTES*/
:root {
    /*FONTES*/
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    /*CORES*/
    --black: black;
    --verde-titulo: #A0D925; /*EU IREI USAR O LINEAR GRADIENTE COM ESSA COR NOS BOTÕES*/
    --azul: #2A9CBD;
    --verde-btn: #70B340;
    --azul-btn: #0F7087; /*ESSA COR TAMBÉM VAI PARA O BOTÃO DE DEPOIMENTOS*/
}

/*##############################*/
/*HEADER*/
header {
    width: 100%;
    padding: 5px 5%;
    position: sticky;
}

/*##############################*/
/*NAV*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*##############################*/
/*NAV IMG*/
nav > img {
    width: 120px;
    height: 120px;
}

/*##############################*/
/*UL E LI*/
nav ul {
    list-style: none;
    display: flex;
}

nav > ul > li > a{
    font-family: var(--inter);
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    margin-left: 20px;
}

/*##############################*/
/*MENU BURGUER*/
#menu {
    display: none;
}

/*##############################*/
/*MENU MOBILE*/
#mobile {
    display: flex;
    justify-content: center;
}

#mobile ul {
    list-style: none;
}

#mobile ul  li {
    margin-bottom: 20px;
}

#mobile > ul > li > a {
    font-family: var(--inter);
    font-weight: bold;
    color: var(--black);
    text-decoration: none;   
}


/*##############################*/
/*MENU MOBILE*/