@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*ROOT COM CORES E FONTES*/
:root {
    /*FONTES*/
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    /*CORES*/
    --black: black;
    --verde-titulo: #A0D925; /*EU IREI USAR O LINEAR GRADIENTE COM ESSA COR NOS BOTÕES*/
    --azul: #2A9CBD;
    --verde-btn: #70B340;
    --azul-btn: #0F7087; /*ESSA COR TAMBÉM VAI PARA O BOTÃO DE DEPOIMENTOS*/
}

/*##############################*/
/*HEADER*/
header {
    width: 100%;
    padding: 0px 5%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    
}

/*##############################*/
/*NAV*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*##############################*/
/*NAV IMG*/
nav > img {
    width: 123px;
    height: 123px;
}

/*##############################*/
/*UL E LI*/
nav ul {
    list-style: none;
    display: flex;
}

nav > ul > li > a{
    font-family: var(--inter);
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    transition: .3s;
    margin-left: 20px;
}

nav > ul > li > a:hover {
    color: #A0D925;
}

/*##############################*/
/*MENU BURGUER*/
#menu {
    display: none;
}

/*##############################*/
/*MENU MOBILE*/
#mobile {
    display: flex;
    justify-content: center;
}

#mobile ul {
    display: none;
    list-style: none;
}

#mobile ul  li {
    margin-bottom: 20px;
}

#mobile > ul > li > a {
    font-family: var(--inter);
    font-weight: bold;
    color: var(--black);
    text-decoration: none;   
}


/*##############################*/
/*SECTION1*/

/*##############################*/
/*ARTICLE, FOTO DO GATO*/
.elementos1 {
    width: 99vw;
    height: 97vh;
    background-image: url(../style/img/gato-section-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*CONTAINER*/
#container-txt {
    padding: 5px 5%;
}

/*IMAGEM*/
#container-txt > img {
    margin-left: -60px;
    width: 240px;
    height: 240px;
}

/*H1*/
.bloco-text > h1 {
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -60px;
}

/*h2*/
.bloco-text > h2 {
    font-family: var(--poppins);
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}


/*PARAGRAFO*/
.bloco-text > p {
    color: white;
    font-family: var(--inter);
    margin-bottom: 60px;
}

/*SPANS COM A COR AZUL*/
span {
    color: var(--azul);
}

/*BOTÃO*/
.btn {
    color: white;
    font-family: var(--inter);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--verde-titulo), var(--verde-btn), var(--azul-btn));
    padding: 18px;
    border-radius: 45px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.btn:hover {
    box-shadow: #70b34083 0px 8px 24px;
}

.btn > span > img{
    width: 20px;
    height: 20px;
    margin-left: 33px;
}

/*##############################*/
/*SECTION2*/
.waves > img {
    width: 99vw;
}

/*ARTICLE SOBRE*/
.sobre {
    margin-top: -20px;
}

/*ARTICLE H1*/
.sobre > h1 {
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
}

/*PARTE DO TEXTO E DO CAO*/
.container-geral {
    display: flex;
    background-image: url(img/patas-fundo.png);
    padding: 0px 5%;
}

.text {
    height: max-content;
    background-color: white;
    padding: 5px;
    margin-right: 18

}

.text > p{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 30px;
}

#cont-right > img {
    border-top-left-radius: 167px;
    border-bottom-left-radius: 333px;
    border-top-right-radius: 63px;
    border-bottom-right-radius: 168px;
}


/*##############################*/
/*SERVIÇOS*/


/*H1*/
#servicos > h1{
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: 800;
    text-align: center;
    margin-top: 70px;
}

/*ARTICLE*/
.armazem-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}



