@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*ROOT COM CORES E FONTES*/
:root {
    /*FONTES*/
    --inter: "Inter", sans-serif;
    --poppins: "Poppins", sans-serif;
    /*CORES*/
    --black: black;
    --verde-titulo: #A0D925; /*EU IREI USAR O LINEAR GRADIENTE COM ESSA COR NOS BOTÕES*/
    --azul: #2A9CBD;
    --verde-btn: #70B340;
    --azul-btn: #0F7087; /*ESSA COR TAMBÉM VAI PARA O BOTÃO DE DEPOIMENTOS*/
}

html {
    scroll-behavior: smooth;
}

/*##############################*/
/*HEADER*/
header {
    width: 100%;
    padding: 0px 5%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.043);
}

/*##############################*/
/*NAV*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*##############################*/
/*NAV IMG*/
nav > img {
    width: 90px;
    height: 90px;
}

/*##############################*/
/*UL E LI*/
nav ul {
    list-style: none;
    display: flex;
}

nav > ul > li > a{
    font-family: var(--inter);
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    transition: .3s;
    margin-left: 20px;
}

nav > ul > li > a:hover {
    color: #A0D925;
}

/*##############################*/
/*MENU BURGUER*/
#menu {
    display: none;
}


/*##############################*/
/*SECTION1*/

/*##############################*/
/*ARTICLE, FOTO DO GATO*/
.elementos1 {
    width: 99vw;
    height: 97vh;
    background-image: url(../style/img/gato-section-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*CONTAINER*/
#container-txt {
    padding: 5px 5%;
}

/*IMAGEM*/
#container-txt > img {
    margin-left: -60px;
    width: 240px;
    height: 240px;
}

/*H1*/
.bloco-text > h1 {
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: -60px;
}

/*h2*/
.bloco-text > h2 {
    font-family: var(--poppins);
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}


/*PARAGRAFO*/
.bloco-text > p {
    color: white;
    font-family: var(--inter);
    margin-bottom: 60px;
}

/*SPANS COM A COR AZUL*/
.bloco-text > p > span {
    color: var(--azul);
}

/*BOTÃO*/
.btn {
    color: white;
    font-family: var(--inter);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to right, var(--verde-titulo), var(--verde-btn), var(--azul-btn));
    padding: 18px;
    border-radius: 45px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.btn:hover {
    box-shadow: #70b34083 0px 8px 24px;
}

/*##############################*/
/*SECTION2*/
.waves > img {
    width: 99vw;
    height: 40vh;
}

/*ARTICLE SOBRE*/
.sobre {
    margin-top: -20px;
}

/*ARTICLE H1*/
.sobre > h1 {
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
}

/*PARTE DO TEXTO E DO CAO*/
.container-geral {
    width: 99vw;
    display: flex;
    background-image: url(img/patas-fundo.png);
    padding: 0px 5%;
}

.text {
    width: 50%;
    height: max-content;
    background-color: white;
    padding: 5px;
    margin-right: 18

}

.text > p{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 40px;
}

#cont-right > img {
    border-top-left-radius: 167px;
    border-bottom-left-radius: 333px;
    border-top-right-radius: 63px;
    border-bottom-right-radius: 168px;
}


/*##############################*/
/*SERVIÇOS*/
/*H1*/
#servicos > h1{
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;    
}

/*ARTICLE*/
.armazem-cards {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #2C3E50;
}

/*CARD*/
.card {
    font-family: var(--inter);
    width: 270px;
    height: 470px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

/*IMAGEM DOS CARDS*/
.card > img{
    width: 100px;
    height: 100px;
}

/*CARD > H2*/
.card > h2 {
    margin-bottom: 12px;
}


/*CARD PARAGRAFO!*/
.card > p {
    line-height: 24px;
    margin-bottom: 35px;
}

/*BOTÃO DOS CARDS*/
.btn-card {
    color: white;
    font-family: var(--inter);
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    border-radius: 60px;
    padding: 15px;
    transition: .3s;
    background-image: linear-gradient(to right, var(--verde-titulo), var(--verde-btn), var(--azul-btn));
}

/*BOTÃO DOS CARDS HOVER*/
.btn-card:hover {
    box-shadow: #70b34083 0px 8px 24px;
}

/*##############################*/
/*DEPOIMENTOS*/
.container-depoimentos > h1{
    color: var(--verde-titulo);
    font-family: var(--inter);
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 30px;
}

/*CONTAINER DA IMAGEM E DOS DEPOIMENTOS*/
.conteudo-depoimento {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

/*DIV DO LADO ESQUERDO*/
.left {
    padding: 10px;
}

/*DIV LADO ESQUERDO IMAG*/
.left > img {
    width: 582px;
    height: 770px;
}

/*LADO DIREITO*/
.right {
    padding: 15px;
    margin-top: 10%;
}

/*LADO DIREITO H2*/
.right > h2 {
    font-size: 4rem;
    font-family: var(--inter);
    text-align: center;
}

.card-depoimento {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 25px;
}

/*IMG GERAL*/
.card-depoimento > img {
    margin-bottom: 30px;
}

/*DIV COM OS CONTEUDOS IMG*/
.foto {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

/*IMG ESTRELA */
.estrela {
    margin-left: 77%;
}

/*CARD DO DEPOIMENTO H3 E O PARAGRAFO*/
/*H3 SOZINHO !*/
.conteudo-text > h3 {
    font-size: 2rem;
    padding-left: 15px;
    font-family: var(--poppins);
}
/*PARAGRAFO SOZINHO!*/
.conteudo-text > p {
    padding-left: 15px;
    font-family: var(--poppins);
    font-size: 20px;
}

/*BOTÃO  (MAIS AVALIAÇÕES)*/
#avaliacao {
    text-align: center;
    margin-bottom: 50px;
}

#avaliacao > a {
    font-family: var(--inter);
    font-weight: 800;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    padding: 15px 70px 15px 70px;
    background-color: var(--azul-btn);
    border-radius: 10px;
    transition: .3s;
}

#avaliacao > a:hover {
    color: rgb(169, 169, 169);
    background-color: #083a47;
}

/*##############################*/
/*CARROSSEL DE IMAGENS*/
.imgs {
    display: flex;
    align-items: center;
    justify-self: center;
}


#carrossel{
    width: 500px;
    height: 500px;
    background-color: #083a47;
    border-radius: 10px;
}


/*##############################*/
/*FOOTER*/
footer {
    box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.152);
    padding: 80px 20px;
}

#final-text {
text-align: center;
}

#final-text > p {
    font-family: var(--inter);
    margin-bottom: 20px;
    font-weight: 600;
}

#icones  a  img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

#icones  a  img:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border-radius: 50%;
}
